/* ---------------------------------------------------------------------- */
/* for チケット登録画面 */
#issue-form #attributes select {
    width: 50%;
}

#issue-form #attributes .lazyApplicant_no-wrap {
    float: left;
    margin-right: 12px
}

/* ---------------------------------------------------------------------- */
/* for LazyApplicantによる拡張パーツ */
.lazyApplicant_append-container {
    height: 24px;
    white-space: nowrap;
}

.lazyApplicant_append-field {
    border-color: blue;
    /*border-color: orange;*/
}

.lazyApplicant_template {
    white-space: nowrap;
}
.lazyApplicant_template .lazyApplicant_template-select {
    width: 25%;
}

.lazyApplicant_template .lazyApplicant_template-label {
    float: none;
    margin-left: 48px;
    font-weight: normal;
}

.lazyApplicant_template .lazyApplicant_template-text {
    margin-left: 16px;
    width: 200px;
}

.lazyApplicant_template .lazyApplicant_template_store {
    margin-left: 16px;
}

#issue-form #attributes .lazyApplicant_preset-date-field {
    width: auto;
    margin-left: 4px;
}

#issue-form #attributes .lazyApplicant_custom-date-field {
    width: auto;
    margin-left: 8px;
}

/* ---------------------------------------------------------------------- */
/* 共通 */
.lazyApplicant_dialog {
    display: none;
}

.lazyApplicant_dialog .ui-dialog-titlebar-close {
    display: none;
    color: #484848;
}

img.lazyApplicant_icon {
    width: 16px;
    vertical-align: text-bottom;
    margin-left: 4px;
}

img.lazyApplicant_icon:hover {
	opacity: 0.8;
}

.lazyApplicant_disabledFeature {
    display: none;
}
