body: { padding: 10px; }

div.header,
div.content {
  width: 580px;
  margin-bottom: 5px;
}

div.header {
  font-size: x-large;
}

div.header img {
  vertical-align: bottom;
  width: 48px;
}

div.content {
  padding: 0px 10px;
  border: 1px solid #ccc;
  color: #666;
  /*background: -webkit-linear-gradient(top, #dbdcdc, #f0f8f1);*/
  /*background: -webkit-linear-gradient(top, #dbdcdc, #f0f8f1);*/
  /*background-color: lavender;*/
  /*background-color: aquamarine;*/
  /*background-color: #9EEFD4;*/
  background-color: #D6F1E8;
}

div.content ul.group {
  padding: 0;
  margin: 0;
}

/**
 * group/sub-groupのli(基本形式)
 */
div.content ul.group > li,
div.content ul.sub-group > li {
  list-style: none;
  margin: 0px;
  padding: 10px;
  padding-right: 0;
  border-bottom: 2px solid #fff;
  font-size: 12px;
}

div.content ul.group > li:last-child,
div.content ul.sub-group > li:last-child {
  border-bottom: none;
}

div.content ul.group > li:first-child,
div.content ul.sub-group > li:first-child {
  border-bottom: none;
  padding-bottom: 0;
}

/**
 * sub-groupのli(拡張)
 */
div.content ul.sub-group ul.sub-group > li:first-child {
  border-bottom: 2px solid #fff;
  padding-bottom: 10px;
}

div.content ul.sub-group > li:first-child {
  border-top: 2px solid #fff;
}

div.content ul.sub-group > li:last-child {
  padding-bottom: 0;
}

/**
 * settingのli
 */
div.content ul.setting {
  margin-top: 4px;
}

div.content ul.setting li {
  list-style: none;
  white-space: nowrap;
}

/**
 * 使用状況
 */
div.content ul.usage-status {
  padding: 0;
  display: table;
}

div.content ul.usage-status > li {
  display: inline-block;
}

div.content ul.usage-status > li.title {
  padding-left: 20px;
}

div.content ul.usage-status > li.title:first-child {
  padding-left: 0;
}

div.content ul.usage-status > li.title.used {
  width: 96px;
}

div.content ul.usage-status > li.value.used {
  width: 52px;
  text-align: right;
}

div.content ul.usage-status > li.value.ratio {
  width: 36px;
  text-align: right;
}

div.content ul.usage-status > li.value.value .warning,
div.content ul.usage-status > li.value.ratio .warning {
  color: red;
}

/**
 * サポートサイトへのナビゲーション
 */
.support-navi {
  position: relative;
  float: right;
  right: 16px;
}

/**
 * 入力フィールド
 */
div.content input[type="text"],
div.content select {
  width: 420px;
  max-width: 420px;
  padding: 3px 5px;
  margin: 0px;
  color: #000;
  border: solid 1px #ccc;

  background: #fff;
  -webkit-box-shadow: 2px 3px 5px -2px #ddd inset;
  -webkit-border-radius: 6px;
}

div.content select {
  width: auto;
  height: 20px;
  min-width: 100px ;
}

div.content ul.check li span {
  min-width: 9em;
  margin-right: 2em;
  display: block;
  float: left;
  white-space: nowrap;
}

div.content ul.check li span.all-check {
  float: none;
}

div.content ul.check,
div.content ul.radio {
  width: 85%;
}

div.content ul.check:after {
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
  clear: both;
}

div.content label input {
  margin-right: 0.5em;
}

div.content input:enabled + label:hover {
  color: blue;
  /*color: orange;*/
}

div.content button {
  width: 120px;

  background: -webkit-gradient(linear, left top, left bottom, from(#FFF), to(#E6E6E6));
  -webkit-border-radius: 6px;
  color: #111;
  border-width: thin;
}

div.content button:disabled {
  border: #eee 1px solid;
  color: #999;
}
